<a href="https://colab.research.google.com/github/priyanships31/Company_Classification/blob/main/Company_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
import string
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.stem.snowball import SnowballStemmer

In [62]:
data = pd.read_csv('/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 4/Capstone Project/Company Classification/data_company_classification.csv')

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73974 entries, 0 to 73973
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   website           73974 non-null  object
 1   company_name      73974 non-null  object
 2   homepage_text     73305 non-null  object
 3   h1                46653 non-null  object
 4   h2                53212 non-null  object
 5   h3                44659 non-null  object
 6   nav_link_text     48050 non-null  object
 7   meta_keywords     23672 non-null  object
 8   meta_description  66886 non-null  object
dtypes: object(9)
memory usage: 5.1+ MB

In [64]:
data.shape

(73974, 9)

In [65]:
data.head()

                  website  ...                                   meta_description
0         bipelectric.com  ...  Providing quality, reliable full service resid...
1        eliasmedical.com  ...  For the best value in Bakersfield skin care tr...
2  koopsoverheaddoors.com  ...  Koops Overhead Doors specializes in the sales,...
3         midtowneyes.com  ...  We would like to welcome you to Midtown Eyecar...
4     reprosecurity.co.uk  ...  Repro Security provide a range of tailor made ...

[5 rows x 9 columns]

## Missing value treatment

In [72]:
# removing rows with missing values

data = data.dropna()

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4041 entries, 20 to 73944
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   website           4041 non-null   object
 1   company_name      4041 non-null   object
 2   homepage_text     4041 non-null   object
 3   h1                4041 non-null   object
 4   h2                4041 non-null   object
 5   h3                4041 non-null   object
 6   nav_link_text     4041 non-null   object
 7   meta_keywords     4041 non-null   object
 8   meta_description  4041 non-null   object
dtypes: object(9)
memory usage: 315.7+ KB

## Removing Punctuations

In [74]:
def remove_punctuation(homepage_text):
  try:
    translator = str.maketrans('', '', string.punctuation)
  except:
    pass
  return homepage_text.translate(translator)

In [75]:
data['homepage_text'] = data['homepage_text'].apply(remove_punctuation)

In [48]:
data['nav_link_text'] = data['nav_link_text'].apply(remove_punctuation)

## Removing Numbers

In [49]:
def numbers(text):
  text = [i for i in text if not i.isdigit()]
  return "".join(text)

In [50]:
data['homepage_text'] = data['homepage_text'].apply(numbers)

In [51]:
data['nav_link_text'] = data['nav_link_text'].apply(numbers)

## Removing Stopwords

In [52]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [53]:
stop_words = stopwords.words('english')

In [54]:
def stopwords(text):
  text = [word.lower() for word in text.split() if word.lower() not in stop_words]
  return " ".join(text)

In [59]:
data['homepage_text'] = data['homepage_text'].apply(stopwords)

In [56]:
data['nav_link_text'] = data['nav_link_text'].apply(stopwords)

## Stemming

In [58]:
# create an object of stemming function
stemmer = SnowballStemmer("english")

def stemming(text):    
    '''a function which stems each word in the given text'''
    text = [stemmer.stem(word) for word in text.split()]
    return " ".join(text)

In [60]:
data['homepage_text'] = data['homepage_text'].apply(stemming)

In [61]:
data['nav_link_text'] = data['nav_link_text'].apply(stemming)